
@media screen and (min-width: 2020px){
  .service-item{
    width: 30%;
  }
}



@media screen and (max-width: 1280px){
  .contact-form {
    width: 100%
  }

  .map, .contacts {
    width: 50%
  }
  .form{
    width: 100%;
  }
  .header-contacts{
    display: none;
  }
  .header-contacts li  {
      width: 100%;
      text-align: center;
      font-size: 26px;
  }
  .logo {
    width: 320px;
  }
  .item_ntc{
    font-size: 22px;
  }
}


@media screen and (max-width: 1080px){

  h1 {
    font-size: 3.5rem;
  }
  .about-us-text {
    width: 100%
  }
  .about-us-image {
    display: none;
  }
  .main-nav{
    display: none;
  }

  .menu{
    position: relative;
    top: 45px;
    margin-right: 5%;
    display: inline-block;
    float: right;
    vertical-align: middle;
    text-align: right;
  }
  .service-price, .detail-price{
    width: 100%;
    padding-top: 40px;
  }
  .detail-price{

  }

  .map, .contacts {
    width: 100%;
  }
  .product_info{
    text-align: center;
  }
  .cat-image {
    width: 300px;
  }


}



@media screen and (max-width: 780px) {
  h1 {
    font-size: 2.8rem;
  }

  .promo {
    margin: 0;
    padding-top: 100px;
  }

  .service-price, .detail-price{
    padding-top: 0;
    min-height: 200px;
  }

  .service-price{
    margin-top: 100px;
  }

}
