{% extends 'pricelist/base.html' %}
{% load staticfiles %}
 {% block content %}
      <div class="price-promo">

        <div class="header">
          <span class="pre-header">Прайс-лист</span>
          <h2 class="price-header-field">Прайс-лист <span class="about-us-header-decor">на д</span>етали</h2>
          <a href="{% url 'service_price_list' %}" class="btn btn-price" alt="Связаться">Прайс на услуги</a>
        </div>
      </div>
    <section>
      {% for c in categories %}
      {% if c in list %} 
      <div class="product_info">
        <div class="head-image">
          <img class="cat-image" src="/media/{{c.img}}" alt="{{c.img}}" >
        </div>
        <div class="prod-info">
          <h3 class="product_category">{{c.title}}</h3>
          <p class="">{{c.info}}</p>
        </div>
      </div>

      <table class="service-table">
        <thead>
           <tr>
               <th>№ п/п</th>
               <th>Наименование продукции</th>
               <th>Цена</th>
           </tr>
        </thead>
           {% for item in price %}
           {% if item.type_p == c %}
           <tr>
               <td><p class="item_ntc">{{item.item_no}}</p></td>
               <td><p class="item_ntc">{{item.title}}</p></td>
               <td><p class="item_ntc">{{item.cost}}</p></td>
           </tr>
           {% endif %}
           {% endfor %}
       </table>
    {% endif %}
    {% endfor %}
    </section>

{% endblock %}
